@use "../(main)/hellpers.scss" as *;
.mainContainer {
  max-width: 2000px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  max-width: 900px;
  width: 100%;
  height: 80vh;
  background-color: rgb(235, 235, 235);
  border: 1px solid $light-background;
  border-radius: $border-radius;
  box-shadow: 0px 1px 31px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 31px -10px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.logoImage{
  width: 100px;
  height: 100px;
}


.formContainer{
  width:500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.formTitle{
 font-size: 40px;
 letter-spacing: 1px;
 font-weight: 500;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.formGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.formLabel{
  width: 100%;
  height: 25px;
  font-size: 16px;
  font-weight: 500;
  color: $black-color;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.formInput{
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid $light-background;
  padding-left: 15px;
}
.formInput:placeholder-shown{
  padding-left: 15px;
}

.formButton{
  width: 100%;
  height: 55px;
  border-radius: 30px;
  letter-spacing: 1px;
  background-color: $primary-color;
  color: $white-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease; 
}
.formButton:hover{
  background-color: $primary-color-hover;
}
.formButton:active{
  background-color: $primary-color-active;
}

.errorMessage{
  color: red;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
}

.formLinkSpan{
  color: $primary-color;
}
