// ფერები
$primary-color: #476CFF;
$primary-color-hover: #092aa0;
$primary-color-active: #00be13;

$white-color: #FFFFFF;
$black-color: #212121;
$light-background: #E2E2E2;
$dark-background: #696969;

// ზომები
$font-size-small: 8px;
$font-size-medium: 16px;
$font-size-large: 32px;

// Border Radius
$border-radius: 30px;

 